.daily-log-details {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0px auto;
    text-decoration: none;
    color: black;
    width: 40vw; 
}

.details-details {
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    row-gap: 0.5vw;
    padding:1vw 3vw;
    background-color: rgb(244, 197, 204);
}

.image-image {
    border-radius: 50px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 12;
    object-fit: cover;
    object-position: top; 
} 

.detail-delete-button {
    background-color: #6c757d;
    padding:0.5vw 0.8vw;
    font-size: 1.2vw;
}

.detail-update-button {
    padding:0.5vw 0.8vw;
    font-size: 1.2vw;
    background-color: #D970D6;
}

.dailyLogDetails-kid-name {
    font-size: 2.5vw;
}

.dailyLogDetails-title {
    font-size: 1.5vw;
    color: darkorchid;
}
#detail-post-date {
    font-size:1vw;
    font-style: italic;
}

.dailyLogDetails-content {
    font-size:1.2vw;
}

.details-details {
    padding:2vw 5vw;
}
@media (max-width:1200px) {
    .daily-log-details {
        width:60%;
    }
    .dailyLogDetails-kid-name {
        font-size: 3.5vw;
    }
    #detail-post-date {
        font-size:2vw;
    }
    .dailyLogDetails-title {
        font-size: 2.5vw;
    }
    
    .dailyLogDetails-content {
        font-size:2.2vw;
    }
    .detail-delete-button {
        font-size: 2.2vw;
    }
    
    .detail-update-button {
        font-size: 2.2vw;
    }
}
@media (max-width: 768px) {
    .daily-log-details {
        width:80%;
    }
    .dailyLogDetails-kid-name {
        font-size: 4.5vw;
    }
    #detail-post-date {
        font-size:3vw;
    }
    .dailyLogDetails-title {
        font-size: 3.5vw;
    }
    
    .dailyLogDetails-content {
        font-size:3.2vw;
    }
    .detail-delete-button {
        font-size: 3.2vw;
    }
    
    .detail-update-button {
        font-size: 3.2vw;
    }
    .details-details {
        padding:3vw 6vw;
    }
}