#three-lists {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding-right:3vw;
    min-height: 80vh;
}
.title-h3 {
    font-size: 2vw;
}
#friends-container, #request-received-container, #request-send-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:2vw;
    padding: 2vw;
    border-radius: 10px;
    margin-left: 3vw;
    width: 30vw;
    min-width: 250px;  
    max-width: 100%;
    box-sizing: border-box;
    background-color: #A0BDC1;
}

.friend-request-div {
    display: flex;
    flex-direction: column;
    gap:0.5vw;

}

.friend-info-div {
    display: flex;
    gap: 0.5vw;
    width: 22vw;
    border-radius: 10px;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw grey;
    min-width: 200px;
}

.each-friend {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.each-request-friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0vw;
    gap: 1.5vw;
}

#friends-list-container {
    display: flex;
    flex-direction: column;
    gap: 1vw; 
}

#add-new-friend-button {
    font-size: 1.5vw;
    width: 24vw; 
    min-width: 150px;
    text-align: center;
}

.denied-label {
    color: red;
    font-size: 1.2vw; 
    font-weight: bold;
}

.friend-profile-image {
    border-radius: 50%;
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    padding: 0.5vw;
}
.friend-profile-icon {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    padding: 0.5vw;
    color: #007bff;
}

.friend-kid-image {
    border-radius: 50%;
    width: 4vw; 
    height: 4vw;
}

.friend-kid-div {
    display: flex;
    gap: 1vw; 
}

.Link-friend-kid {
    display: flex;
    flex-direction: column;
    gap: 1vw; 
    color: darkorchid;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width: 16vw; 
    color: black;
    border-radius: 10px;
    font-size: 1vw; 
    position: absolute;
    z-index: 10; 
}

.each-kid:hover .tooltip {
    visibility: visible;
    opacity: 1;
    width: 16vw; 
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    font-size: 1vw; 
    text-align: center;
    margin-top: 3vw; 
}

.request-friend-info-div {
    display: flex;
    border-radius: 10px;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw grey; 
    align-items: center;
    gap: 0.5vw;
    padding-right: 0.5vw;
    width: 18vw; 
    min-width: 150px;
    background-color: #A0BDC1;
}

#requests-received-box, #sent-request-box {
    display: flex;
    flex-direction: column;
    gap: 0.5vw; 
}

.remove-friend-button {
    padding: 0.5vw 0.3vw; 
    background-color: #6c757d;
    font-size: 1vw;
}

.accept-and-deny-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5vw; 
    justify-content: center;
    align-items: center;
}

.accept-friend-request-button {
    font-size: 1vw;
}

.cancel-friend-request-button, 
.deny-friend-request-button, 
.delete-friend-request-button {
    background-color: #6c757d;
    font-size: 1vw;
}
.friend-username-h4 {
    font-size:1.5vw;
}
.kid-name-p {
    font-size: 1vw;
}

@media (max-width:1200px) {
    .each-friend{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1vw;;
        row-gap:2vw;
    }
    .each-request-friend {
        flex-direction: column;
        align-items: center;
    }
    #add-new-friend-button {
        font-size: 1.5vw;
        width: 23vw; 
    }
    .each-kid:hover .tooltip {
        width: 24vw; 
        font-size: 1.5vw; 
        transform: translate(-30%, -35%);
    }
    .friend-username-h4 {
        font-size:2vw;
    }
    .kid-name-p {
        font-size: 1.5vw;
    }
    .accept-friend-request-button {
        font-size: 1.5vw;
    }
    
    .cancel-friend-request-button, 
    .deny-friend-request-button, 
    .delete-friend-request-button {
        font-size: 1.5vw;
    }
    .remove-friend-button {
        padding: 1vw 1.5vw;
        font-size: 1.5vw;
    }
    .denied-label {
        font-size: 1.5vw; 
    }
    .accept-and-deny-buttons {
        flex-direction: row;
        gap: 1vw; 
    }
}
@media (max-width: 768px) {
    #three-lists {
        flex-direction: column;
        padding-right: 0;
    }
    #friends-container, #request-received-container, #request-send-container {
        width:95%; 
        margin: 0vw 2vw;
        padding:4vw;
        max-width: 100%;
        background-color: transparent;
    }
    .each-friend, .each-request-friend, .friend-kid-div {
        flex-direction: row;
        gap:3vw;
    }
    .friend-info-div, .request-friend-info-div {
        width: 100%;
        gap:3vw;
        background-color: #A0BDC1;
        padding: 2vw 4vw;
    }
    .each-kid:hover .tooltip {
        width: 50vw; 
        font-size: 3vw; 
        transform: translate(-15%, 50%);
    }

    .accept-and-deny-buttons {
        gap: 2vw;
    }

    .accept-and-deny-buttons button {
        width: 100%; 
        padding:1vw 2.5vw;
        border-radius: 8px;
    } 

    #add-new-friend-button {
        font-size: 4vw;
        width: 66vw; 
    }

    .friend-profile-image, .friend-kid-image, .friend-profile-icon {
        width: 15vw; 
        height: 15vw;
    }

    .accept-friend-request-button {
        padding:0.5vw 2.5vw;
    }

    .title-h3 {
        font-size: 5vw;
    }
    .friend-username-h4 {
        font-size:5vw;
    }
    .kid-name-p {
        font-size: 4vw;
    }
    .accept-friend-request-button {
        font-size: 3vw;
    }
    
    .cancel-friend-request-button, 
    .deny-friend-request-button, 
    .delete-friend-request-button {
        font-size: 3vw;
    }
    .remove-friend-button {
        font-size: 3vw;
    }
    .denied-label {
        font-size: 4vw; 
    }
    .accept-and-deny-buttons {
        flex-direction: row;
    }
}