#three-lists {
    display: flex;
    align-items: flex-start;
}

#friends-container, #request-received-container, #request-send-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 50px;
    row-gap:30px;
    padding: 30px;
    border: 1px solid #1cc;
    border-radius: 10px;
    margin-left: 50px;
    width: 500px;
}

.friend-request-div {
    display: flex;
    flex-direction: column;
    width: 220px;
    column-gap: 10px;
    row-gap: 10px;

}

.friend-info-div {
    display: flex;
    gap: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
    padding-left: 5px;
    margin-bottom: 20px;
}

.each-friend {
    display: flex;
    gap: 20px;
}

#friends-list-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#add-new-friend-button {
    font-size: medium;
    width: 170px;
}

.denied-label {
    color: red;
    font-size: medium;
    padding-top: 5px;
}

.friend-profile-image {
    border-radius: 50%;
    background-color: transparent;
    width:60px;
    height:60px;
    padding:5px;
  
}

.friend-kid-image {
    border-radius: 50%;
    width:40px;
    height:40px;
}

.friend-kid-div {
    display: flex;
    gap:10px
}

.Link-friend-kid {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: darkorchid;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width:270px;
    color:black;
    border-radius: 10px;
    font-size: medium;
    position: absolute;
}

.each-kid:hover .tooltip {
    visibility: visible;
    opacity: 1;
    width:220px;
    color:black;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    margin-top: 40px;
    font-size: small;
    padding:0px;

}