.kid-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 50px;
    padding: 20px 50px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}

.validation-errors {
    color: red;
    padding-left: 20px;
}

#year-month-day-box {
    display: flex;
    justify-content: space-between;

}

.relationship-box3 {
    display: flex;
    flex-direction: column;
}

.kid-year-month-day {
    display: flex;
    flex-direction: column;
}
