#current_image {
    width: 44vw; 
    border-radius: 10px; 
}
.current-image-update {
    font-size: 2vw;
}

#update-cancel-div {
    display: flex;
    gap: 5vw; 
    justify-content: center;
}

#dailyLog-update-button {
    font-size: 1.5vw; 
}
#dailyLog-cancel-button {
    background-color: #6c757d;
    font-size: 1.5vw; 
}
 
#dailyLog-cancel-button:hover {
    background-color: red;
}
 
@media (max-width: 1200px) {
    #current_image {
        width: 55vw; 
        height: 35vw; 
    }
    .current-image-update {
        font-size: 2.5vw;
    }

    #update-cancel-div {
        gap: 6vw; 
    }
    #dailyLog-update-button {
        font-size: 2vw; 
    }
    #dailyLog-cancel-button {
        font-size: 2vw;
    }
}
 
@media (max-width: 768px) {
    #current_image {
        width: 76vw; 
        height: 50vw; 
    }
    .current-image-update {
        font-size: 4vw;
    }

    #update-cancel-div {
        gap: 8vw; 
    }
    #dailyLog-update-button {
        font-size: 4vw; 
    }
    #dailyLog-cancel-button {
        font-size: 4vw; 
    }
}