#landing-page-container {
    display: flex;
    column-gap: 2.5vw; /* sse viewport width for gap */
    padding: 0 2.5vw; 
    height: 80vh; 
}

#landing-page-left-box, #landing-page-right-box {
    width: 45%;
    height: 100%;
}

#landing-page-left-box {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
    justify-content: space-between;
}

#big-des, #small-des {
    padding: 0vw 2.5vw;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center; 
    flex-grow: 0.5; /* allows them to grow and distribute space evenly */
    text-shadow: 2px 2px 2px #ccc;
}

#big-des {
    font-size: 4vw; 
    font-weight: bold;
}

#small-des {
    font-size: 2.5vw;
}

#landing-page-img {
    width: 100%;
    height: 100%;
    border-radius: 3vw;
}

   
@media (max-width: 768px) {
    #landing-page-container {
        flex-direction: column;
        padding: 4vw;
        height: auto;
        align-items: center;
    }
    
    #landing-page-left-box, #landing-page-right-box {
        width: 100%;
        height: auto;
        align-items: center;
    }

    #big-des {
        font-size: 6vw;
        text-align: center;
    }

    #small-des {
        font-size: 4vw;
    }

    #landing-page-img {
        max-width: 100%;
        margin-top: 4vw;
    }
}