#landing-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6vw; 
    padding-left: 8vw;
    padding-right: 4vw;
    height: 80vh; 
    align-items: center;
}

#landing-page-left-box {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vw;
}

#landing-page-right-box {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big-des, #small-des {
    color: rgba(0, 0, 0, 1);
    padding: 0 2vw;
    text-align: left;
}

#big-des {
    text-shadow: 2px 2px 2px #ccc;
    font-size: 3.5vw; 
    font-weight: bold;
}

#small-des {
    font-size: 2.2vw;
}

#landing-page-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; 
    border-radius: 25%;
    object-fit: cover; 
    margin-top: 2vw;
    padding: 1vw 0vw;
}

@media (max-width: 1200px) {
    #landing-page-container {
        padding-left: 6vw;
        padding-right: 4vw;
        gap:4vw;
    }

    #landing-page-left-box {
        width: 45%;
    }

    #landing-page-right-box {
        width: 45%;
    }

    #big-des {
        font-size: 4vw;
    }

    #small-des {
        font-size: 2.8vw;
    }
    #landing-page-img {
        width: 110%;
    }
}
   
@media (max-width: 768px) {
    #landing-page-container {
        flex-direction: column;
        padding: 4vw;
        height: auto;
        align-items: center;
        row-gap:4vw;
    }
    
    #landing-page-left-box, #landing-page-right-box {
        width: 100%;
        height: auto;
        align-items: center;
    }

    #big-des {
        font-size: 5vw;
        text-align: center;
    }

    #small-des {
        font-size: 3.5vw;
        text-align: center;
    }

    #landing-page-img {
        width: 90%;
        margin-top: 0.5vw;
        padding:0;
        border-radius: 30px;
    }
}