.daily-logs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 0px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 1000px;
    box-shadow: 2px 2px 2px 2px rgb(244, 197, 204);
}

.daily-logs-content {
    margin: 50px;
    border-radius: 10px;
    width: 1000px;
    row-gap: 50px;
}

.update-delete-actions {
    display: flex;
    column-gap: 30px;
}

.log-item {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    background-color: rgb(244, 197, 204);
    text-decoration: none;
    color: black;
}

.log-image {
    padding-top: 10px;
}

#daily-log-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
} 

.log-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

#log-details-link {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: black;
}

#likesAndComments-div {
    margin: 0px;
    padding: 0px;
}

.kid-profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: rgb(244, 197, 204);
}

#kid-name-age {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 530px;
}

#add-dailyLog-button {
    color: black;
    background-color: rgb(244, 197, 204);
}

.post-date {
    font-style: italic;
    font-size: small;
}

.update-action, .delete-action {
    padding:5px 10px;
    font-size: small;
    border-radius: 8px;
}

.delete-action {
    background-color: #6c757d;
}