.daily-logs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    box-shadow: 3px 3px 2px 2px lightslategray;
}
#baby-icon {
    font-size: xx-large;
    color: pink;
}
#kid-icon-and-name {
    display: flex;
    align-items: center;
}

#kid-age-p {
    padding-left: 30px;
}
.daily-logs-content {
    margin: 50px;
    border-radius: 10px;
    width: 1000px;
    row-gap: 50px;
}

.update-delete-actions {
    display: flex;
    column-gap: 10px;
}

.log-item {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(244, 197, 204);
    text-decoration: none;
    color: black;
}

.log-image {
    width: 350px;
    text-align: center;
    padding-top: 10px;
}

.log-details {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 60%;
    height: 200px;
}


#daily-log-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
} 