#kids-and-friends-container {
    display: flex;
    column-gap: 50px;
}
#kids-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 50px;
    row-gap:30px;
    padding: 20px;
    border: 1px solid orchid;
    border-radius: 10px;
    margin-left: 50px;
}

#kids-list-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.kid-details {
   display: flex;
   flex-direction: column;
   width: 320px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px 5px grey;
   padding-left: 20px;
   height:200px;
}

.update-and-remove-box {
    display: flex;
    justify-content: space-around;
    padding-top:50px
}

#add-kid-button {
    border-radius: 10px;
    width: 200px;
    font-size: larger;
    background-color:orchid;
}

.button-button {
   padding:6px;
   border-radius: 6px;
}

.Link-link{
    text-decoration: none;
    color: darkorchid;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    width:270px;
    color:black;
    background-color: lightpink;
    border-radius: 10px;
    font-size: medium;
    position: absolute;
}

.kid-details:hover .tooltip {
    visibility: visible;
    opacity: 1;
    width:270px;
    color:black;
    background-color: lightpink;
    border-radius: 10px;
    font-size: medium;
}

.image-and-name-div {
    padding-top:20px;
    display: flex;
    align-items: center;
    gap:20px;
}
.kid-profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.remove-kid-button {
    background-color: #6c757d;
}

.kid-update-button {
    background-color: orchid;
}

#friends-icon {
    font-size: x-large
}

#friends-button {
    display: flex;
    align-items: center; 
    padding: 10px;  
    background-color: orchid;
}
