#kids-and-friends-container {
    display: flex;
    column-gap: 50px;
}
#kids-list-container, #friends-list-container, #friend-request-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 50px;
    row-gap:30px;
    padding: 50px;
    border: 1px solid #1cc;
    border-radius: 10px;
    margin-left: 50px;
}

#kids-list-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.kid-details, .each-friend {
   width: 220px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px 5px grey;
   padding-left: 5px;
}

.update-and-remove-box {
    display: flex;
    column-gap:10px;
    padding-top: 10px;
}

#add-kid-button, #add-new-friend-button {
    border-radius: 10px;
    width: 200px;
    font-size: larger;
}

.button-button {
   padding:6px;
   border-radius: 6px;
}

.Link-link{
    text-decoration: none;
    color: darkorchid;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    font-size: x-small;
}

.kid-details:hover .tooltip {
    visibility: visible;
    opacity: 1;
    width:180px;
    background-color: lightpink;
}

.each-kid:hover .tooltip {
    visibility: visible;
    opacity: 1;
    width:200px;
    background-color: lightpink;
}

.friend-info-div {
    display: flex;
    column-gap: 10px;
}