#kids-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1vw;
    padding: 2vw;
    border-radius: 10px;
    margin-left: 1vw;
    box-sizing: border-box; 
    width: 100%;
}

#my-kids-and-friends {
    display: flex;
    align-items: center;
}

#friends-button {
    padding: 0.5vw;
    background-color: orchid;
    font-size: 2vw;
    position: absolute; 
    right: 3vw; 
}

#friends-icon {
    font-size: 2vw;
}

#kids-list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3vw;
}

.kid-details {
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   /* box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw gray; */
   padding: 1.5vw;
   height: auto; 
   box-sizing: border-box;
   background-color: #A2D9D9;
   width:23vw;
}

.update-and-remove-box {
    display: flex;
    justify-content: space-around;
    padding-top:1vw;
}

#add-kid-button {
    border-radius: 10px;
    font-size: 1.5vw;
    background-color: orchid;
    padding: 0.5vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}

.Link-link{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    text-decoration: none;
    color: darkorchid;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    color:black;
    background-color: darkorchid;
    border-radius: 10px;
    font-size: 2vw;
    transform: translate(0, -60%); /* Center the tooltip and move it above .kid-details */
    box-sizing: border-box;
    padding: 0.25vw;
    z-index: 10; 
}

.kid-details:hover .tooltip {
    visibility: visible;
    opacity: 1;
    text-align: center;
    color: white;
    width:20vw;
}

.image-and-name-div {
    padding-top:1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1vw;
}

.kid-profile-image {
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
}
.kid-profile-icon {
    font-size: 20vw;
}

.remove-kid-button {
    background-color: #6c757d;
    font-size: 1vw;
}

.kid-update-button {
    background-color: orchid;
    font-size: 1vw;
}

#my-kids-h1 {
    font-size: 2vw;
    color: darkorchid;
    text-shadow: 2px 2px 4px #fff;
}
#kid-name-h2 {
    font-size:1.5vw;
    text-align: center;
}
#kid-age-h4 {
    font-size:1vw;
    text-align: center;
}
@media (max-width:1200px) {
    .kid-details {
        width:35vw;
    }
    #add-kid-button {
        font-size: 2vw;
    }
    #friends-icon {
        font-size: 2.5vw;
    }
    .kid-profile-icon {
        font-size: 25vw;
    }
    #my-kids-h1 {
        font-size: 3vw;
    }
    #kid-name-h2 {
        font-size:2.5vw;
    }
    #kid-age-h4 {
        font-size:1.5vw;
    }
    #friends-button {
        font-size: 2.5vw;
    }
    .kid-details:hover .tooltip {
        width:32vw;
        font-size: 1.2vw;
    }
    .remove-kid-button {
        font-size: 1.5vw;
    }
    
    .kid-update-button {
        font-size: 1.5vw;
    }
}
@media (max-width: 768px) {
    #kids-list-container {
        margin: 0 auto;
        padding: 4vw; 
        width: 90%; 
    }

    #kids-and-friends-container {
        gap: 4vw;
        padding: 0 4vw;
        align-items: start;
    }

    #kids-list-box {
        flex-direction: column;
        gap: 4vw; 
        width: 100%;
    }
  
    .kid-details {
        padding: 4vw;
        width: 100%;
    }
    .Link-link {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #add-kid-button {
        font-size: 3vw; 
        padding: 1.5vw 3vw; 
        width: 100%;
    }

    .update-and-remove-box {
        align-items: center;
        gap: 3vw; 
        width: 100%;
    }

    .image-and-name-div {
        padding-top: 1vw;
        gap: 2vw; 
        width: 100%;
    }

    .kid-profile-image {
        padding: 0;
        width: 40vw; 
        border-radius: 50%; 
    }
    .kid-profile-icon {
        font-size: 30vw;
    }

    #my-kids-h1 {
        font-size: 5vw; 
        text-align: center;
    }

    #kid-name-h2 {
        font-size: 4vw; 
        text-align: center;  
    }

    #kid-age-h4 {
        font-size: 2.5vw; 
    }

    #friends-button {
        font-size: 4vw; 
    }

    #friends-icon {
        font-size: 3vw;
    }

    .remove-kid-button, .kid-update-button {
        font-size: 2.5vw; 
    }

    .kid-details:hover .tooltip {
        font-size: 2.5vw; 
        transform: translate(0%, -440%);
        width: 74.5vw;
        box-sizing: border-box;
        padding: 0.5vw; 
        z-index: 10;
    }
    #friends-button {
        font-size: 4.5vw; 
        padding: 1vw;
    }

    #friends-icon {
        font-size: 4vw;
    }
    .kid-details {
        padding: 4vw 0vw;
        padding-right: 3vw;
     }
}