/* TODO: Add sitewide styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  body {
    line-height: 1.6;
    background-color: #f8f9fa;
    color: black;
    background-image: url('https://bundle-of-joy-july24.s3.us-west-1.amazonaws.com/background.png');
    background-size: cover; /* ensures the image covers the entire background */
    background-repeat: no-repeat; /* prevents the image from repeating */
    background-position: center center; /* centers the background image */
    background-attachment: fixed; /* keeps the background fixed during scroll */
    min-height: 100vh; /* ensures the background covers the full viewport height */
}
 /* modal round corners*/
  #modal-content {
    border-radius: 30px;
}

  /* Link styles */
  a, link {
    text-decoration: none; 
  }
  
  a, link:hover {
    text-decoration: none; 
    cursor: pointer;
  }
  
  /* Basic layout settings */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  /* Button styles */
  button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
  }

  button:hover {
    cursor: pointer;
    background-color: red; 
    transform: scale(1.05);
  }

  /* Form styles */
  input, select, textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* Utility classes */
  .text-center {
    text-align: center;
  }