.login-modal-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    row-gap: 30px;
    background-color: white;
}

.login-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.login-form input {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

/* .login-form button {
    padding: 10px;
    color: white;
    margin-top: 20px;
} */

.error-message {
    color: red;
}

#demo-user-button {
    background-color: white;
    color: black;
}