#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vw; 
  height: 15vh; 
}

#left-header-box {
  display: flex;
  align-items: center;
  color: #ff544b;
  text-decoration: none;
}

#logo {
  font-size: 3vw; 
  margin-right: 1vw; 
}

#website-name {
  background-color: transparent;
  font-size: 3vw; 
  color: #ff544b;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none;
  background-color: pink;
  padding: 1vw; 
  right: 2.5vw; 
  border-radius: 10px;
  font-size: 1.5vw; 
  width: 22vw; 
}


@media (max-width: 768px) {
  #header-container {
      padding: 4vw;
  }

  #logo, #website-name {
      font-size: 5vw;
      text-align: center;
  }
  
  .profile-dropdown {
    font-size: 3vw; 
    width: 38vw;
  }
 
}