#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

#left-header-box {
  display: flex;
  align-items: center;
  color: #ff544b;
  text-decoration: none;
}

#logo {
  font-size: xx-large;
}

#website-name {
  background-color: transparent;
  font-size: xx-large;
  color: #ff544b;
}


.profile-dropdown {
  position: absolute;
  list-style-type: none;
  background-color: pink;
  padding:5px;
  right:50px;
  border-radius: 10px;
  font-size: large;
}

