#profile-account-button {
    border-radius: 50%;
    background-color: transparent;
    width:5vw;
    height:5vw;
    padding: 0;
    margin: 0;
}

#profile-account-button:hover {
    border: none;
}

.user-profile-image {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile-icon {
   font-size: 5vw;
   color: #007bff;
}

.profile-buttons {
    border: none;
    color: black;
    background-color: pink;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    font-size: 1.5vw;
}

.profile-buttons:hover {
    color: blueviolet;
    font-weight: bold;
    background-color: pink;
}

#logout-button {
    padding:0.5vw;
    font-size:1.2vw;
    background-color: #D970D6;
}
@media (max-width:1200px) {
    #profile-account-button {
        width:8vw;
        height:8vw;
    }
    .user-profile-icon {
        font-size:8vw;
    }
    .profile-buttons {
        font-size:2vw;
    }
    #logout-button {
        font-size:2vw;
    }
}
@media (max-width: 768px) {
    #profile-account-button {
        width:9vw;
        height:9vw;
    }
    .user-profile-icon {
        font-size:9vw;
    }
    .profile-buttons {
        font-size:2.8vw;
    }
    #logout-button {
        padding:2vw;
        font-size:2.5vw;
    }

}