#friends-button {
    border: none;
    color: black;
    background-color: pink;
    padding: 0px;
}

#friends-button:hover {
    color: blueviolet;
    font-weight: bold;
}

#logout-button {
    padding:5px;

}