.update-profile-picture-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    background-color: #E5E5E5;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40vw;
}
.modal-title {
    margin-bottom: 2vw;
    font-size: 1.6vw;
    text-align: center;
}

#current-profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vw;
}

.profile-image {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-bottom: 0.5vw;
}

#upload-profile-picture-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2vw 0;
    width: 100%;
}

#upload-profile-picture-div label{
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}
#upload-profile-picture-div input{
    font-size: 1.5vw;
}

.validation-errors {
    color: red;
    font-size: 1vw;
    margin-top: 0.5vw;
}

#profile-picture {
    padding: 1vw;
    font-size: 1.5vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.update-and-cancel-box, .submit-and-cancel-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#profile-picture-submit-button, #profile-picture-delete-button, #profile-picture-cancel-button {
    padding: 0.5vw 1vw;
    font-size: 1.2vw;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#profile-picture-submit-button {
    background-color: #D970D6;
}

#profile-picture-delete-button,#profile-picture-cancel-button {
    background-color: #6c757d;
}

#profile-picture-submit-button:hover, #profile-picture-delete-button:hover,#profile-picture-cancel-button:hover {
    background-color: red;
} 
.delete-user-image-modal {
    background-color: #D970D6;
    font-size: 1.2vw;
}
@media (max-width: 1200px) {
    .update-profile-picture-form {
        width: 60vw;
        padding: 3vw;
    }
    .modal-title {
        font-size: 2vw;
    }
    #upload-profile-picture-div label{
        font-size: 2vw;
    }
    #upload-profile-picture-div input{
        font-size: 2vw;
    }
    .profile-image {
        width: 15vw;
        height: 15vw;
    }
    #profile-picture-submit-button, #profile-picture-delete-button, #profile-picture-cancel-button {
        font-size: 2vw;
    }
    .delete-user-image-modal {
        font-size: 1.8vw;
    }
}
@media (max-width: 768px) {
    .update-profile-picture-form {
        width: 80vw;
        padding: 4vw;
    }
    .modal-title {
        font-size: 3.5vw;
    }
    #upload-profile-picture-div { 
        margin: 4vw 0;
    }
    #upload-profile-picture-div label{
        font-size: 3vw;
        margin-bottom: 1vw;
    }
    #upload-profile-picture-div input{
        font-size: 3vw;
    }
    .profile-image {
        width: 20vw;
        height: 20vw;
    }
    #profile-picture-submit-button, #profile-picture-delete-button, #profile-picture-cancel-button {
        font-size: 3vw;
        padding: 1vw 2vw;
        
    }
    #submit-and-cancel-box {
        padding-top: 2vw;;
    }
    .delete-user-image-modal {
        font-size: 2.5vw;
    }
}

